@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bookerly";
  src: url("assets/fonts/Bookerly.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Unifraktur";
  src: url("assets/fonts/UnifrakturMaguntia-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer components {
  .card {
    @apply flex items-center justify-center;
    height: 100px;
    background-color: theme("colors.blue_twt");
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #444;
}